.cart-items{
	margin: 50px 120px;

}

.cart-items hr{
	height: 3px;
	background: #e2e2e2;
	border: 0;
}

.cart-items-format-main{
	display: grid;
	grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
	align-items: center;
	gap: 45px;
	padding: 15px 0;
	color: #454545;
	font-size: 16px;
	font-weight: 600;
}

.cart-items-format{
	font-size: 15px;
	font-weight: 500;	
}

.carticon-product-icon{
	height: 64px;
}

.remove-icon{
	width: 15px;
	margin: 0px 25px;
	cursor: pointer;
}

.cart-items-quantity{
	width: 50px;
	height: 50px;
	border: 2px solid #ebebeb;
	background: #fff;
}

.cart-items-down{
	display: flex;
	margin: 100px 0;
}

.cart-items-total{
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-right: 200px ;
	gap: 40px;
}

.cart-items-total-item{
	display: flex;
	justify-content: space-between;
	padding: 15px 0px;
}

.cart-items-total button{
	width: 262px;
	height: 58px;
	outline: none;
	border: none;
	background: #ff4141;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.cart-items-promocode{
	flex: 1;
	font-size: 16px;
	font-weight: 500;
}

.cart-items-promocode p{
	color: #555;
}

.cart-items-promobox{
	width: 504px;
	margin-top: 15px;
	place-content: 20px;
	height: 58px;
	background: #eaeaea;
}

.cart-items-promobox input{
	border: none;
	outline: none;
	background: transparent;
	font-size: 16px;
	width: 330px;
	height: 50px;
}
.cart-items-promobox button{
	width: 170px;
	height: 58px;
	font-size: 16px;
	background: #000;
	color: #fff;
	cursor: pointer;
}

