.news-letter{
	width: 65%;
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 0 140px;
	margin-bottom: 130px;
	background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
	gap: 15px;
}

.news-letter h1{
	color: #444;
	font-size: 50px;
	font-weight: 600;
}

.news-letter p{
	color: #444;
	font-size: 20px;
}


.news-letter div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	width: 730px;
	height: 70px;
	border-radius: 80px;
	border: 1px solid #e1e1e1;
}

.news-letter input{
	width: 500px;
	margin-left: 30px;
	border: none;
	outline: none;
	color: #666;
	font-family: Poppins;
	font-size: 16px;
}

.news-letter div button{
	width: 200px;
	height: 70px;
	background: #000;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border-radius: 80px;
	border: 1px solid #e1e1e1;
}